#grad .memoryInsideOut {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
.darkThemeColor {
  color: #FFF;
  background-color: #000;
}
.lightThemeColor {
  color: #555;
  background-color: #FFF;
}
.lightThemeColor h1,
.lightThemeColor h2,
.lightThemeColor h3,
.lightThemeColor h4,
.lightThemeColor h5,
.lightThemeColor h6 {
  color: #000;
}
#body {
  margin-top: 30px;
}
#footer {
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
  padding-top: 30px;
}
#footer.darkThemeColor {
  color: #999;
}
#footer.lightThemeColor {
  color: #666;
}
#myNav {
  background-color: #2E9E22;
}
#body a {
  text-decoration: none;
}
#body a:hover {
  text-decoration: none;
}
.btn-blue {
  background-color: #627D98;
  color: #FFF;
}
.btn-blue:hover {
  background-color: #526D88;
  color: #FFF;
}
.btn-blue:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(82, 109, 136, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(82, 109, 136, 0.25);
}
