#grad .memoryInsideOut {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
#body {
  margin-top: 30px;
}
#body a,
#body a:hover {
  text-decoration: none;
}
#body .btn-link,
#body .btn-link:hover {
  text-decoration: none;
}
#body .btn-link {
  padding-left: 0;
}
#body .btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#footer {
  margin-top: 15px;
  padding-top: 15px;
}
#myNav {
  background-color: #2E9E22;
}
.navbar-toggler:focus {
  outline: 1px dotted #f7f7f7;
}
.darkThemeColor {
  color: #FFF;
  background-color: #000;
}
.darkThemeColor #footer {
  color: #999;
  border-top: 1px solid #eee;
}
.darkThemeColor .figure-caption {
  color: #AAA;
}
.darkThemeColor .modal-content {
  background-color: #333;
}
.darkThemeColor hr {
  background-color: #777;
  opacity: 1;
}
.lightThemeColor {
  color: #555;
  background-color: #f7f7f7;
}
.lightThemeColor h1,
.lightThemeColor h2,
.lightThemeColor h3,
.lightThemeColor h4,
.lightThemeColor h5,
.lightThemeColor h6 {
  color: #000;
}
.lightThemeColor #footer {
  color: #666;
  border-top: 1px solid #bbb;
}
a i {
  color: #FFF;
}
.fa-youtube {
  color: red;
}
.bold {
  font-weight: 900;
}
.italic {
  font-style: italic;
}
.read-more[aria-expanded="false"] .expanded,
.read-more[aria-expanded="true"] .collapsed {
  display: none;
}
.serif {
  font-family: 'Noto Serif TC', sans-serif;
}
.code-report {
  font-family: 'Noto Serif TC', sans-serif;
  letter-spacing: 5px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #000;
}
.code-ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  padding: 10px;
  margin-bottom: 20px;
  /* Media queries - Responsive timeline on screens more than 576px (sm or up) wide */
}
.code-ribbon .numberBox {
  margin: 15px 10px 15px 0px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 1000;
  font-family: 'Noto Serif TC', sans-serif;
  color: #FFF;
}
.code-ribbon .numberBox span {
  position: relative;
  bottom: 3px;
}
@media screen and (min-width: 576px) {
  .code-ribbon {
    background: -webkit-linear-gradient(left, #f7f7f7 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, #f7f7f7 100%);
  }
}
.technicalStuff {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
.backgroundColor1 {
  background-color: #ecfaf5;
}
.arrowColor1::before {
  border: medium solid #ecfaf5;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ecfaf5;
}
.backgroundColor2 {
  background-color: #a5dec8;
}
.arrowColor2::before {
  border: medium solid #a5dec8;
  border-width: 10px 10px 10px 0;
  border-color: transparent #a5dec8 transparent transparent;
}
.backgroundColor3 {
  background-color: #faca82;
}
.arrowColor3::before {
  border: medium solid #faca82;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #faca82;
}
.backgroundColor4 {
  background-color: #FFCAAC;
}
.arrowColor4::before {
  border: medium solid #FFCAAC;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFCAAC transparent transparent;
}
.backgroundColor5 {
  background-color: #B2CDE8;
}
.arrowColor5::before {
  border: medium solid #B2CDE8;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #B2CDE8;
}
.backgroundColor6 {
  background-color: #AAA;
}
.arrowColor6::before {
  border: medium solid #AAA;
  border-width: 10px 10px 10px 0;
  border-color: transparent #AAA transparent transparent;
}
.backgroundColor7 {
  background-color: #5EBE52;
}
.arrowColor7::before {
  border: medium solid #5EBE52;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5EBE52;
}
.backgroundColor8 {
  background-color: #faca82;
}
.arrowColor8::before {
  border: medium solid #faca82;
  border-width: 10px 10px 10px 0;
  border-color: transparent #faca82 transparent transparent;
}
.backgroundColor9 {
  background-color: #B1BBBC;
}
.arrowColor9::before {
  border: medium solid #B1BBBC;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #B1BBBC;
}
.backgroundColorDark1 {
  background-color: #ccdad5;
}
.backgroundColorDark2 {
  background-color: #85bea8;
}
.backgroundColorDark3 {
  background-color: #daaa62;
}
.backgroundColorDark4 {
  background-color: #DF9A8C;
}
.backgroundColorDark5 {
  background-color: #829DA8;
}
.backgroundColorDark6 {
  background-color: #888;
}
.backgroundColorDark7 {
  background-color: #2E9E22;
}
.backgroundColorDark8 {
  background-color: #daaa62;
}
.backgroundColorDark9 {
  background-color: #3C5758;
}
#home .round-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #DDD;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}
#home .center-img {
  display: block;
  margin: auto;
}
#home .icon-width {
  width: 40px;
}
#home .memoryInsideOut {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#home::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/index/bike-20240203.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  z-index: -100;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#codeChild #body {
  margin-top: 0;
}
#codeChild .languagesGroup {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#code .modal-content,
#codeChild .modal-content {
  border: none;
}
#code .languagesGroup,
#codeChild .languagesGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
#code #timeline,
#codeChild #timeline {
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
  /* Media queries - Responsive timeline on screens less than 576px (sm) wide */
  /* Media queries - Responsive timeline on screens more than 576px (sm) but less than 992px (lg) wide */
  /* Media queries - Responsive timeline on screens less than 992px (lg or down) wide */
}
#code #timeline .timeline,
#codeChild #timeline .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
#code #timeline .timeline::after,
#codeChild #timeline .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #E5E5E5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
#code #timeline .container,
#codeChild #timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
#code #timeline .container::after,
#codeChild #timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #E5E5E5;
  border: 4px solid #f7f7f7;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
#code #timeline .left,
#codeChild #timeline .left {
  left: -25%;
}
#code #timeline .right,
#codeChild #timeline .right {
  left: 25%;
}
#code #timeline .left::before,
#codeChild #timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
}
#code #timeline .right::before,
#codeChild #timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}
#code #timeline .right::after,
#codeChild #timeline .right::after {
  left: -12px;
}
#code #timeline .content,
#codeChild #timeline .content {
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
}
#code #timeline .headContent,
#codeChild #timeline .headContent {
  padding: 20px 15px 20px 15px;
  height: 85px;
}
#code #timeline .bodyContent,
#codeChild #timeline .bodyContent {
  padding: 20px 25px 20px 25px;
}
#code #timeline .bodyContent img,
#codeChild #timeline .bodyContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#code #timeline .numberBox,
#codeChild #timeline .numberBox {
  bottom: 20px;
  position: relative;
  display: inline;
  float: left;
  margin: 15px 15px 15px 0px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 1000;
  font-family: 'Noto Serif TC', sans-serif;
  color: #FFF;
}
#code #timeline .numberBox span,
#codeChild #timeline .numberBox span {
  position: relative;
  bottom: 3px;
}
#code #timeline .float-left-fix,
#codeChild #timeline .float-left-fix {
  float: left;
}
@media screen and (max-width: 576px) {
  #code #timeline .headContent h2,
  #codeChild #timeline .headContent h2 {
    position: relative;
    top: 5px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  #code #timeline .headContent h2,
  #codeChild #timeline .headContent h2 {
    position: relative;
    top: 2px;
  }
}
@media screen and (max-width: 992px) {
  #code #timeline,
  #codeChild #timeline {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  #code #timeline .timeline::after,
  #codeChild #timeline .timeline::after {
    left: 12px;
  }
  #code #timeline .container,
  #codeChild #timeline .container {
    width: 100%;
    padding-left: 35px;
    padding-right: 15px;
  }
  #code #timeline .container::before,
  #codeChild #timeline .container::before {
    left: 25px;
  }
  #code #timeline .left::after,
  #codeChild #timeline .left::after,
  #code #timeline .right::after,
  #codeChild #timeline .right::after {
    left: 0px;
  }
  #code #timeline .right,
  #codeChild #timeline .right,
  #code #timeline .left,
  #codeChild #timeline .left {
    left: 0%;
  }
  #code #timeline .arrowColor1::before,
  #codeChild #timeline .arrowColor1::before {
    border: medium solid #ecfaf5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ecfaf5 transparent transparent;
  }
  #code #timeline .arrowColor3::before,
  #codeChild #timeline .arrowColor3::before {
    border: medium solid #faca82;
    border-width: 10px 10px 10px 0;
    border-color: transparent #faca82 transparent transparent;
  }
  #code #timeline .arrowColor5::before,
  #codeChild #timeline .arrowColor5::before {
    border: medium solid #B2CDE8;
    border-width: 10px 10px 10px 0;
    border-color: transparent #B2CDE8 transparent transparent;
  }
  #code #timeline .arrowColor7::before,
  #codeChild #timeline .arrowColor7::before {
    border: medium solid #5EBE52;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5EBE52 transparent transparent;
  }
  #code #timeline .arrowColor9::before,
  #codeChild #timeline .arrowColor9::before {
    border: medium solid #B1BBBC;
    border-width: 10px 10px 10px 0;
    border-color: transparent #B1BBBC transparent transparent;
  }
}
#code .grey-color-text,
#codeChild .grey-color-text {
  color: #666;
  text-align: center;
}
@media screen and (max-width: 992px) {
  #code .grey-color-text,
  #codeChild .grey-color-text {
    text-align: left;
  }
}
#hobbies #body {
  margin-top: 0;
}
#hobbies #hiking-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  /* The image used */
  background-image: url("../images/hobbies/hobbies-hike-0.jpg");
  /* Min height */
  min-height: 300px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hobbiesCard .cards-row {
  margin-top: -15px;
}
#hobbiesCard .cards-row .cards-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#hobbiesCard .cards-row .card-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#hobbiesCard .cards-row .card-image-top {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
#hobbiesCard .cards-row .card-image-cover {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#hobbiesCard .cards-row .img-with.ribbon {
  position: relative;
}
#hobbiesCard .cards-row .winner-ribbon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
#hobbiesCard .cards-row .card {
  border: 2px solid #AAA;
  background-color: #000;
  margin-top: 2rem;
}
#hobbiesCard .cards-row .card-header:first-child {
  border-radius: 0;
}
#hobbiesCard .cards-row .favourite-green-card .card-header {
  background-color: #254117;
}
#hobbiesCard .cards-row .favourite-red-card .card-header {
  background-color: #600;
}
#hobbiesCard .cards-row .favourite-orange-card .card-header {
  background-color: #660;
}
#hobbiesCard .cards-row .card-header h3 {
  line-height: 1.5;
}
#hobbiesCard .cards-row .card-bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
#hobbiesCard .insideOutMovieCover {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#teaching .fa-cloud-arrow-down,
#teaching .fa-video,
#teaching .fa-file,
#teaching .fa-brands {
  color: #555;
}
