#grad .memoryInsideOut {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Noto Sans TC', sans-serif;
}
#body {
  margin-top: 30px;
}
#body a,
#body a:hover {
  text-decoration: none;
}
#body .btn-link,
#body .btn-link:hover {
  text-decoration: none;
}
#body .btn-link {
  padding-left: 0;
}
#body .btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#footer {
  margin-top: 15px;
  padding-top: 15px;
}
#myNav {
  background-color: #2E9E22;
}
.navbar-toggler:focus {
  outline: 1px dotted #f7f7f7;
}
.darkThemeColor {
  color: #FFF;
  background-color: #000;
}
.darkThemeColor #footer {
  color: #999;
  border-top: 1px solid #eee;
}
.darkThemeColor .figure-caption {
  color: #AAA;
}
.darkThemeColor .modal-content {
  background-color: #333;
}
.lightThemeColor {
  color: #555;
  background-color: #f7f7f7;
}
.lightThemeColor h1,
.lightThemeColor h2,
.lightThemeColor h3,
.lightThemeColor h4,
.lightThemeColor h5,
.lightThemeColor h6 {
  color: #000;
}
.lightThemeColor #footer {
  color: #666;
  border-top: 1px solid #bbb;
}
a i {
  color: #FFF;
}
#home .round-img {
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #DDD;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}
#home .center-img {
  display: block;
  margin: auto;
}
#home .icon-width {
  width: 40px;
}
#home .memoryInsideOut {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#code .modal-content {
  border: none;
}
#code .languagesGroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}
#code #timeline {
  /* The actual timeline (the vertical ruler) */
  /* The actual timeline (the vertical ruler) */
  /* Container around content */
  /* The circles on the timeline */
  /* Place the container to the left */
  /* Place the container to the right */
  /* Add arrows to the left container (pointing right) */
  /* Add arrows to the right container (pointing left) */
  /* Fix the circle for containers on the right side */
  /* The actual content */
  /* Media queries - Responsive timeline on screens less than 576px (sm) wide */
  /* Media queries - Responsive timeline on screens more than 576px (sm) but less than 992px (lg) wide */
  /* Media queries - Responsive timeline on screens less than 992px (lg or down) wide */
}
#code #timeline .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
#code #timeline .timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #E5E5E5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
#code #timeline .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
#code #timeline .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: #E5E5E5;
  border: 4px solid #f7f7f7;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
#code #timeline .left {
  left: -25%;
}
#code #timeline .right {
  left: 25%;
}
#code #timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
}
#code #timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
}
#code #timeline .right::after {
  left: -12px;
}
#code #timeline .content {
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
}
#code #timeline .headContent {
  padding: 20px 15px 20px 15px;
  height: 85px;
}
#code #timeline .bodyContent {
  padding: 20px 25px 20px 25px;
}
#code #timeline .bodyContent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#code #timeline .numberBox {
  bottom: 20px;
  position: relative;
  display: inline;
  float: left;
  margin: 15px 15px 15px 0px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 1000;
  font-family: 'Noto Serif TC', sans-serif;
  color: #FFF;
}
#code #timeline .numberBox span {
  position: relative;
  bottom: 3px;
}
#code #timeline .backgroundColor1 {
  background-color: #ecfaf5;
}
#code #timeline .arrowColor1::before {
  border: medium solid #ecfaf5;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #ecfaf5;
}
#code #timeline .backgroundColor2 {
  background-color: #a5dec8;
}
#code #timeline .arrowColor2::before {
  border: medium solid #a5dec8;
  border-width: 10px 10px 10px 0;
  border-color: transparent #a5dec8 transparent transparent;
}
#code #timeline .backgroundColor3 {
  background-color: #faca82;
}
#code #timeline .arrowColor3::before {
  border: medium solid #faca82;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #faca82;
}
#code #timeline .backgroundColor4 {
  background-color: #FFCAAC;
}
#code #timeline .arrowColor4::before {
  border: medium solid #FFCAAC;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFCAAC transparent transparent;
}
#code #timeline .backgroundColor5 {
  background-color: #B2CDE8;
}
#code #timeline .arrowColor5::before {
  border: medium solid #B2CDE8;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #B2CDE8;
}
#code #timeline .backgroundColor6 {
  background-color: #AAA;
}
#code #timeline .arrowColor6::before {
  border: medium solid #AAA;
  border-width: 10px 10px 10px 0;
  border-color: transparent #AAA transparent transparent;
}
#code #timeline .backgroundColor7 {
  background-color: #5EBE52;
}
#code #timeline .arrowColor7::before {
  border: medium solid #5EBE52;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #5EBE52;
}
#code #timeline .backgroundColor8 {
  background-color: #faca82;
}
#code #timeline .arrowColor8::before {
  border: medium solid #faca82;
  border-width: 10px 10px 10px 0;
  border-color: transparent #faca82 transparent transparent;
}
#code #timeline .backgroundColorDark1 {
  background-color: #ccdad5;
}
#code #timeline .backgroundColorDark2 {
  background-color: #85bea8;
}
#code #timeline .backgroundColorDark3 {
  background-color: #daaa62;
}
#code #timeline .backgroundColorDark4 {
  background-color: #DF9A8C;
}
#code #timeline .backgroundColorDark5 {
  background-color: #829DA8;
}
#code #timeline .backgroundColorDark6 {
  background-color: #888;
}
#code #timeline .backgroundColorDark7 {
  background-color: #2E9E22;
}
#code #timeline .backgroundColorDark8 {
  background-color: #daaa62;
}
#code #timeline .float-left-fix {
  float: left;
}
@media screen and (max-width: 576px) {
  #code #timeline .headContent h2 {
    position: relative;
    top: 5px;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  #code #timeline .headContent h2 {
    position: relative;
    top: 2px;
  }
}
@media screen and (max-width: 992px) {
  #code #timeline {
    /* Place the timelime to the left */
    /* Full-width containers */
    /* Make sure that all arrows are pointing leftwards */
    /* Make sure all circles are at the same spot */
    /* Make all right containers behave like the left ones */
  }
  #code #timeline .timeline::after {
    left: 12px;
  }
  #code #timeline .container {
    width: 100%;
    padding-left: 35px;
    padding-right: 15px;
  }
  #code #timeline .container::before {
    left: 25px;
  }
  #code #timeline .left::after,
  #code #timeline .right::after {
    left: 0px;
  }
  #code #timeline .right,
  #code #timeline .left {
    left: 0%;
  }
  #code #timeline .arrowColor1::before {
    border: medium solid #ecfaf5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #ecfaf5 transparent transparent;
  }
  #code #timeline .arrowColor3::before {
    border: medium solid #faca82;
    border-width: 10px 10px 10px 0;
    border-color: transparent #faca82 transparent transparent;
  }
  #code #timeline .arrowColor5::before {
    border: medium solid #B2CDE8;
    border-width: 10px 10px 10px 0;
    border-color: transparent #B2CDE8 transparent transparent;
  }
  #code #timeline .arrowColor7::before {
    border: medium solid #5EBE52;
    border-width: 10px 10px 10px 0;
    border-color: transparent #5EBE52 transparent transparent;
  }
}
#code .grey-color-text {
  color: #666;
  text-align: center;
}
@media screen and (max-width: 992px) {
  #code .grey-color-text {
    text-align: left;
  }
}
#hobbies #body {
  margin-top: 0;
}
#hobbies #hiking-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  /* The image used */
  background-image: url("../images/hobbies/hobbies-hike-0.jpg");
  /* Min height */
  min-height: 300px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hobbies .cards-row {
  margin-top: -15px;
}
#hobbies .cards-row .cards-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#hobbies .cards-row .card-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#hobbies .cards-row .card-iamge-top {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
#hobbies .cards-row .card {
  border: 2px solid #AAA;
  background-color: #000;
  margin-top: 2rem;
}
#hobbies .cards-row .card-header:first-child {
  border-radius: 0;
}
#hobbies .cards-row .favourite-green-card .card-header {
  background-color: #254117;
}
#hobbies .cards-row .favourite-red-card .card-header {
  background-color: #600;
}
#hobbies .cards-row .card-header h3 {
  line-height: 1.5;
}
#hobbies .insideOutMovieCover {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
