#home{
    .round-img{
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 2px solid #DDD;
        filter: brightness(0.95);
    }
    .center-img{
        display: block;
        margin: auto;
    }
    .icon-width{
        width: 40px;
    }
    .memoryInsideOut{
        width: 100%;
        max-width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}