body{
	font-family: 'Noto Sans TC', sans-serif;
}

#body{
	margin-top: 30px;
	a, a:hover{
		text-decoration: none; 
	}
	.btn-link, .btn-link:hover{
		text-decoration: none; 
	}
	.btn-link{
		padding-left: 0;
	}
	.btn-link{
		box-shadow: none;
	}
}
#footer {
	margin-top: 15px;
	padding-top: 15px;
}

#myNav{
	background-color: @primary-color-orange;
}

.navbar-toggler:focus{
	outline: 1px dotted @white-theme-bg-color;
}
.darkThemeColor{
    color: #FFF;
    background-color: #000;
	#footer {
		color: #999;
		border-top: 1px solid #eee;
	}
	.figure-caption{
		color: #AAA;
	}
	.modal-content{
        background-color: #333;
    }
    .btn-close{
        color: #FFF;
    }
}
.lightThemeColor{
	color: #555;
    background-color: @white-theme-bg-color;
	h1,h2,h3,h4,h5,h6{
		color: #000;
	}
	#footer {
		color: #666;
		border-top: 1px solid #bbb;
	}
}