extends ../layouts/default

block js

block append variables 
	- var currentPage = "code";

mixin timelineElement(number,title,position)
	.container(class=position+" arrowColor"+number)
		.content.shadow.rounded
			.headContent(class="backgroundColor"+number)
				.numberBox(class="backgroundColorDark"+number)
					span=number
				h2=title
			.bodyContent
				if block 
					block
				else
					p Empty

block content
	.container
		h1 Code
		br
		#timeline: .timeline
			+timelineElement("01","Scratch","left")
				p body
			+timelineElement("02","Java and C++","right")
				p body2