extends ../layouts/default

block js

block append variables 
	- var currentPage = "contact";

block content
	.container
		h1 Contact Me
		br
		p: a(href="mailto:oscarmui1127@gmail.com") <img src="images/contact/gmail.png" width="45" /> &nbsp; oscarmui1127@gmail.com
		p: a(href="https://www.facebook.com/ballooncoding/") <img src="images/contact/facebook.png" width="45" /> &nbsp; Oscar Mui 
		br
		p You could email me or send me a message by facebook messenger for more contact methods such as my phone number or my Instagram. Keep contact!
