extends ../layouts/default

block js

block append variables 
	- var currentPage = "contact";

block content
	.container
		h1 Contact Me
		br
		p: a(href="mailto:oscar.mui@univ.ox.ac.uk") <img src="images/contact/gmail.png" width="45" /> &nbsp; oscar.mui@univ.ox.ac.uk
		//- p: a(href="https://www.facebook.com/ballooncoding/") <img src="images/contact/facebook.png" width="45" /> &nbsp; Oscar Mui 
		p: a(href="https://github.com/OscarMui") <img src="images/contact/github.png" width="45" /> &nbsp; Oscar Mui 
		br
		p You could email me for more contact methods such as my phone number or my Instagram. Keep contact!
