extends ../layouts/default

block js

block append variables 
	- var currentPage = "grad";

block content
	.container
		h1 Graduation
		br
		p Time flies, the past six years in SJC has been wonderful. Thank you everyone in St. Joseph's, you have all made me a better person. As you might know, I am not particularly good at expressing myself.
