extends ../layouts/default

block js

block append variables 
	- var currentPage = "hobbies";
	- var themeColor = "dark";

mixin modalBox(id,title,param)
	.modal.fade(id=id tabindex="-1" role="dialog" aria-labelledby=id+"Label" aria-hidden="true")
		.modal-dialog(role="document").modal-lg
			.modal-content
				.modal-header
					h3.modal-title(id=id+"Label")=title
					button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
				.modal-body
					if block 
						block 
					else
						p Empty
				.modal-footer
					button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close

block content
	#hiking-bg: .container
		h1 Hobbies
		br
		p I enjoy hiking, swimming and cycling with friends during holidays. I think it is a good idea to show you photos of a few places I have been.
		p: button#hikingModalTrigger.btn.btn-link(data-bs-toggle="modal" data-bs-target="#hikingModal") View Photos
		+modalBox("hikingModal","Hiking Photos","")
			.row
			.row
				.col-12.col-lg-6: +figureWithCaption("images/hobbies/hobbies-hike-1.jpg","香港,西高山 Mount High West, Hong Kong","w-100")
				.col-12.col-lg-6: +figureWithCaption("images/hobbies/hobbies-hike-2.jpg","香港,西高山 Mount High West, Hong Kong","w-100")
			.row
				.col-12.col-lg-6: +figureWithCaption("images/hobbies/hobbies-hike-3.jpg","香港,龍脊 Dragon's Back, Hong Kong","w-100")
				.col-12.col-lg-6: +figureWithCaption("images/hobbies/hobbies-hike-4.jpg","香港,龍脊 Dragon's Back, Hong Kong","w-100")
	.container
		h2.mt-5 My current favourite ...
		.row.cards-row
			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-red-card.card
					.card-header: h3 Video Games
					img.card-image-top(src="images/hobbies/games-minecraft-0.png").w-100
					.card-body
						ul.card-text
							li 
								span Minecraft &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#minecraftModal")
								+modalBox("minecraftModal","Minecraft","")
									p Minecraft has been a successful game developed by Mojang. As it is a sandbox game, different people would find themselves having fun with different modes available, including survival, speedrunning, building, and minigames provided by servers.
									p I have been playing a server named Hypixel for a few years. In fact, I have created <a href="code.html#code05">HyMinions</a> based on Hypixel Skyblock.
									p: a(href="https://www.minecraft.net/") Learn More (Minecraft)
									p: a(href="https://www.hypixel.net/") Learn More (Hypixel)
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-minecraft-1.png","My survival Minecraft house","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-minecraft-2.png","An old game where all players jump into a pit and fight","w-100")
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-minecraft-3.png","My Skyblock island","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-minecraft-4.png","My Skyblock island","w-100")
							li 
								span Brawl Stars &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#brawlStarsModal")
								+modalBox("brawlStarsModal","Brawl Stars","")
									p Fast-paced 3v3 multiplayer battle game created by Supercell. I think what makes Brawl Stars popular is the frequent updates, constantly releasing new brawlers and game modes, continuing bringing freshness to the game.
									p Its success is also due to their care for free-to-play players like me. We could progress quickly even though we did not pay any money, like being able to get legendary brawlers and get half of the brawl passes for free as long as we are active.
									p I am also obsessed with the Brawl Stars lore. It is said that Brawl Stars was originally a theme park, but something weird happened to transform the visitors, staff, and even objects of the park to become the brawlers players fight with today.
									p: a(href="https://supercell.com/en/games/brawlstars/") Learn More
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-brawl-stars-1.jpg","Nearly maxed account (42/44 back then)","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-brawl-stars-2.jpg","Brawl Pass","w-100")
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-brawl-stars-3.jpg","Gameplay - Last man stands","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-brawl-stars-4.jpg","Play with friends :)","w-100")
							li
								span Bounce On 2 &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#bounceOnModal")
								+modalBox("bounceOnModal","Bounce On 2","")
									p This is one of my favourite games back when I was small. A ball rolling game with the aim to defeat the final boss Dorallo
									p Even though the game is already not available on App Store and Google Play, I managed to find the APK of the game and I still replay it occasionally up till today.
									p: a(href="https://drive.google.com/file/d/1Ml6ihtDffo5VmmUsuKD1d29DlBih_ckc/view?usp=sharing") Download APK
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-1.jpg","Home Page of the game","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-2.jpg","Avoid the electrity!","w-100")
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-3.jpg","Cool level selection menu","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-4.jpg","Time to beat Teddy up","w-100")
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-5.jpg","Defeating the final boss Dorallo","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-bounce-on-6.jpg","See the red sphere at the right hand side? That the mystery token in each level where you can collect it through getting into secret passages, I enjoy finding them when I was small.","w-100")
							li
								span Mini Motorways & Mini Metro &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#miniMotorwaysModal")
								+modalBox("miniMotorwaysModal","Mini Motorways & Mini Metro","")
									p I played Mini Metro a few years ago, and Mini Motorways is just a much more complex version of it! Their easy yet fun game mechanics paired with simplistic User Interfaces successfully catch my eye.
									p Both games are developed by Dinosaur Polo Club
									p: a(href="https://dinopoloclub.com/") Learn More
									h4 Mini Motorways
									p Connect the houses to the supermarkets of the corresponding colour, this seemed simple task gets more and more complicated as the map expands. The game ends when there are not enough cars arriving the supermarkets on time.
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-mini-motorways-1.png","A high score of 2620 in the Rio de Janeiro map","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-mini-motorways-2.png","The game started out simple","w-100")
									h4 Mini Metro
									p Similar to Mini Motorways, our aim is to transfer the passengers (labelled in black-coloured shapes) to the corresponding station (laballed in white-coloured shapes). Your goal is to transfer as many passengers as possible without congestion.
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-mini-metro-1.jpg","A high score of 2744 in the St. Petersburg map","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/games-mini-metro-2.jpg","Tried to minic the MTR system map with the Hong Kong map in-game.","w-100")
			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-red-card.card
					.card-header: h3 Youtubers (Gaming)
					img.card-image-top(src="images/hobbies/hobbies-yt1-0.jpg").w-100
					.card-body
						ul.card-text
							li
								span Hermitcraft &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#hermitcraftModal")
								+modalBox("hermitcraftModal","Hermitcraft","")
									p Hermitcraft is a survival Minecraft server, where professional YouTube Minecraft builders come together and have some fun and create mega builds.
									p They might not be as skillful in PVP as some other YouTubers, but I am fascinated by the mega builds they have created block by block. I also enjoy watching the interactions between the hermits.
									p: a(href="https://hermitcraft.com/") Learn More (Hermitcraft)
									p: a(href="https://www.youtube.com/c/grian") Grian's Channel
									p: a(href="https://www.youtube.com/c/goodtimeswithscar") GoodTimesWithScar's Channel
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/yt1-grian-1.jpg","Grian's Mansion","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/yt1-grian-2.png","Grian's shop on Hermitcraft - The Barge","w-100")
									.row
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/yt1-goodtimeswithscar-1.jpg","Scar's Enchanted Forest","w-100")
										.col-12.col-lg-6: +figureWithCaption("images/hobbies/yt1-goodtimeswithscar-2.png","Aque Town built by Scar and other hermits","w-100")
							ul
								li Grian
								li GoodTimesWithScar
							li
								span KairosTime Gaming &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#kairosModal")
								+modalBox("kairosModal","KairosTime Gaming","")
									p Brawl Stars Youtuber providing update sneak peeks and strategy videos.
									p: a(href="https://www.youtube.com/c/KairosTimeGaming") KairosTime Gaming's Channel

			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-red-card.card
					.card-header: h3 Youtubers (Learning)
					img.card-image-top(src="images/hobbies/hobbies-yt2-0.jpg").w-100
					.card-body
						ul.card-text
							li
								span Primer &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#primerModal")
								+modalBox("primerModal","Primer","")
									p Uses animations with cute "blobs" to simulate evolution, economics and more.
									p: a(href="https://www.youtube.com/channel/UCKzJFdi57J53Vr_BkTfN3uQ") Primer's Channel
							li
								span NileRed &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#nileRedModal")
								+modalBox("nileRedModal","NileRed","")
									p Videos of interesting, yet sometimes dangerous, chemistry experiments.
									p: a(href="https://www.youtube.com/c/NileRed") NileRed's Channel
							li
								span Amoeba Sisters &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#amoebaSistersModal")
								+modalBox("amoebaSistersModal","Amoeba Sisters","")
									p Provides videos on different topics of Biology.
									p: a(href="https://www.youtube.com/user/amoebasisters") Amoeba Sisters's Channel
							li
								span thenewboston &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#theNewBostonModal")
								+modalBox("theNewBostonModal","thenewboston","")
									p I learnt C++ and Java programming here.
									p: a(href="https://www.youtube.com/user/thenewboston") thenewboston's Channel
							li
								span mycodeschool &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#myCodeSchoolModal")
								+modalBox("myCodeSchoolModal","mycodeschool","")
									p I learnt more about arrays and pointers in C here.
									p: a(href="https://www.youtube.com/user/mycodeschool") mycodeschools Channel

			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-green-card.card
					.card-header: h3 Books
					img.card-image-top(src="images/hobbies/hobbies-books-0.png").w-100
					.card-body
						p.card-text: ul
							li
								span The Five People You Meet in Heaven &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#book1Modal")
								+modalBox("book1Modal","The Five People You Meet in Heaven","")
									p The Five People You Meet In Heaven is a 2003 novel by Mitch Albom. It follows the life and death of a ride mechanic named Eddie who is killed in an amusement park accident and sent to heaven, where he encounters five people who had a significant impact on him while he was alive. 
									p My favourite part is that he managed to meet the girl that he saved at the end of the book.
							li
								span 射鵰英雄傳 (The Legend of the Condor Heroes) &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#book2Modal")
								+modalBox("book2Modal","射鵰英雄傳 (The Legend of the Condor Heroes)","")
									p The Legend of the Condor Heroes is a novel by Chinese writer Jin Yong (Louis Cha). 
									p I like how the skill level of the protagonists (Guo Zing and Huang Yong) got better as time goes naturally without weird plots.
			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-green-card.card
					.card-header: h3 Movies
					img.card-image-top(src="images/hobbies/hobbies-movies-0.jpg").w-100
					.card-body
						p.card-text: ul
							li
								span Inside Out &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#movies1Modal")
								+modalBox("movies1Modal","Inside Out","")
									.row
										.col-12.col-lg-8
											p I like how they interpret memory as colored glass balls, representing different emotions (even though it is quite different from how our brain actually works). In which the glowing balls store significant events happened to a person. That has kept me thinking which events to me are glowing ones.
											p The movie uses different characters to represent different emotions. In which Joy thinks her happiness is the most important to Riley, the girl that they belong to, at first, who learned that other emotions, especially sadness, are also vital to her growth, after a series of events and mishaps. I agree with this thought and feelings could mix and match as well.
											+figureWithCaption("images/hobbies/movies-inside-out-1.jpg","At the start of the movie, Joy asks Sadness to say in this \"Circle of Sadness\", so that his sadness would not affect Riley.","w-100")
										.col-12.col-lg-4: img.insideOutMovieCover(src="images/hobbies/movies-inside-out-0.jpg")
							li
								span The Truman Show &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#movies2Modal")
								+modalBox("movies2Modal","The Truman Show","")
									.row
										.col-12.col-lg-6.col-xl-7
											p Am "I" actually in another show like Truman? Is everything in my world "real"?
											p By the way, just a fun fact: maybe I was quite slow, but I only realized that Truman is in a reality show until nearly the end of the movie, despite hundreds of hints given before that. XD
											p.figure-caption A scene of The Truman Show where Truman reaches the "border" of his world, he could either choose to leave and face the unknown, or stay in this world with many other actors taking care of him. He finally decides to ...
										.col-12.col-lg-6.col-xl-5: img.w-100(src="images/hobbies/movies-truman-1.jpg")

			.col-12.col-md-6.col-xl-4.my-4.cards-col
				.favourite-green-card.card
					.card-header: h3 Board Games
					img.card-image-top(src="images/hobbies/hobbies-chess-0.jpg").w-100
					.card-body
						p.card-text: ul
							li
								span The Game of Life &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#boardGames1Modal")
								+modalBox("boardGames1Modal","The Game of Life","")
									p The game simulates a person's travels through his or her life, from college to retirement, with jobs, marriage, and possible children along the way.
									p Whether to gain more life experience or focus on study and work? Maybe both at the same time? That has always been a question in both the game and in real life.
							li
								span For Sale &nbsp;
								i.fa-solid.fa-lg.fa-circle-info(data-bs-toggle="modal" data-bs-target="#boardGames2Modal")
								+modalBox("boardGames2Modal","For Sale","")
									p A game where players first bid on the land (represented by land cards) and then sell it for money. The player with the most money wins.
									p: a(href="https://www.youtube.com/watch?v=OZ0RLgnBp6o") Learn More
		br