extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

block content
	.container
		h1 Welcome!
		br
		p I am Oscar Mui. I am a form 6 student in St. Joseph's College, Hong Kong.
		br
		
		h2 Graduation
		br
		p Time flies, the past six years in SJC have been wonderful. Thank you everyone in St. Joseph's, you have all made me a better person.
		p As you might know, I am not particularly good at expressing myself, so I made this website. You can check out some of my major coding projects, my gaming preferences, and more. By updating it frequently, I hope you can keep up with whatever I might be doing in the future, and keep in contact even when I changed my phone or email :)
		p It is a delightful trip down memory lane. Thank you for visiting my website.
		img(src="images/grad/memoryInsideOut.jpg").memoryInsideOut