extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";

block content
	.container
		p Hello, I am Oscar Mui. I am a form 6 student in St. Joseph's College, Hong Kong.