extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

block content
	.container
		h1 Welcome!
		br
		p I am Oscar Mui. I am a form 6 student in St. Joseph's College, Hong Kong.
		br
		
		h2 New Project: UK Gadgets
		p Some small tools for Hongkongers that might be useful when studying or working in the UK.
		p Check out at <a href="https://ukgadgets.netlify.app">ukgadgets.netlify.app</a>
		br

		h2 New Favourite Game: Mini Motorways
		p I played Mini Metro a few years ago, and Mini Motorways is just a much more complex version of it! Their easy yet fun game mechanics paired with simplistic User Interfaces successfully catch my eye.
		.row
			.col-md-6.col-12.pb-4: img(src="images/hobbies/games-mini-motorways-1.png").w-100
			.col-md-6.col-12.pb-4: img(src="images/hobbies/games-mini-metro-1.jpg").w-100
