extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";

block content
	.container
		img.round-img(src="images/index/creeper.jpg" width=200)
		h2.text-center Oscar Mui

		i.fa-solid.fa-graduation-cap.fa-lg.mt-4
		span.ms-2.mb-3 Master of Computer Science (MCompSci), University of Oxford, United Kingdom (2021-2025)
		img(src="images/index/oxford.png" width=30)
		br
		
		i.fa-solid.fa-school.fa-lg.mt-4
		span.ms-2.mb-3 St. Joseph's College, Hong Kong (2015-2021)
		img(src="images/index/sjc.png" width=30)
		br

		i.fa-solid.fa-house.fa-lg.mt-4
		span.ms-2.mb-3 Hong Kong 🇭🇰
		
		