extends ../layouts/default

block js

block append variables 
	- var currentPage = "oxford";

block content
	.container
		h1 Oxford
		p Facts + my personal experience as a student at University of Oxford. (Written in Apr 2022)

		h2.mt-5 Contents
		hr
		ul
			li
				| <a href="#colleges"> College System</a>
				ul
					li: a(href="#univ") University College
					li: a(href="#otherColleges") Other Colleges and University-wide Buildings
			li: a(href="#terms") Term Dates
			li: a(href="#course") My Course
			li: a(href="#bike") Biking in Oxford
			li: a(href="#images") More Images

		h2#colleges.mt-5 College System
		hr
		p Oxford adopts a college system (similar to CUHK). The accommodation and food you will get differ between colleges. However, we will have our lectures and practicals in the Computer Science Department regardless of which college you are in.

		p Instead of a central campus like most universities in Hong Kong, the colleges and departments are scattered around the city, which felt a strange thing to me at first.

		h3#univ University College
		p My college is called University College (Univ), one of the oldest colleges in Oxford. Here are some pictures of what my college looks like (with captions). Sorry I have to blur the faces in the images because the website is public. :( 
		p Overall, it is moderately sized and looks beautiful and old. :)


		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/univ-main-quad.jpg","Main Quad of Univ (A quad at Oxford is a green square or rectangular space enclosed by college buildings)","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/univ-hall.jpg","Hall at Univ (Hall is where we have our meals and some social activities, some colleges use their hall for examinations as well)","w-100")
		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/univ-old-lib-interior.jpg","College Old Library (Interior)","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/univ-logic-lane.jpg","Logic Lane - A public lane that is surrounded by the college","w-100")
		
		h3#otherColleges Other Colleges and University-wide Buildings
		p We all have access to departments and university libraries, but not other colleges, yet we could go in if somebody we know leads us in.
		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/rad-cam.jpg","Radcliff Camera - An iconic library at Oxford","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/christ-church-hall.jpg","Hall of Christ Church - The one featured in the Harry Potter movies","w-100")
		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/magdalen.jpg","Magdalen College - Looks like a castle with a tall tower","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/maths-institute.jpg","Maths Institute","w-100")

		h2#terms.mt-5 Term Dates
		hr
		p There are three terms every academic year at Oxford, with weird names.
		ul 
			li Michaelmas Term - early October to early December
			li Hilary Term - mid January to mid March
			li Trinity Term - late April to late June

		p Each term is 8 weeks long, which is an extremely short time to squeeze everything in. As a side effect, we will have collections (a mini exam) after each break, so around half of the six-week-long holiday between terms is usually used as revision (at least for me). The term breaks are really the time I managed to digest all the content last term and get ready for another hectic eight weeks. 

		h2#course.mt-5 My Course
		hr
		p My course is a 4-year course with an integrated master's degree. (I could choose to leave after the third year with a bachelor's degree, but that's a decision for future me)
		p The Computer Science courses at Oxford feel a lot more math-oriented than I thought. I was quite shocked by the amount of Mathematics I saw at first. But now I understand that a good foundation in Math (especially Linear Algebra) is crucial to truly understand Artificial Intelligence and Computer Graphics. Besides, the practical things like making websites and such can be self-taught, which is what I have been doing over the years. 
		p A typical week for a first year: We will have around 8 hours of lectures per week. We have around 3 tutorials per week, which are small group teaching sessions (usually 1 to 2-3), it is a good learning opportunity to clarify something that I am not too sure about, to ask questions, and to learn more about the topic in general. Although each of them is only 1 hour long, what usually takes more time are the problem sheets (worksheets) that we have to complete before each tutorial.  
		p Things might be more hectic next year, I will see...
		p There are no common cores (i.e. courses that are not too related to your subject), which is extremely great for somebody who enjoys Computer Science like me.

		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/cs-dept-building.jpg","Computer Science Department","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/cs-dept-sign.jpg","Computer Science Department","w-100")

		h2#bike.mt-5 Biking in Oxford
		hr
		p As I said my college is only moderately sized, meaning that I will have to live offsite in my second and fourth years. Knowing that I might need a bike next year, I bought one in March. Riding a bike on the road is certainly scary, but quite fun as well. :) (More updates on that later)

		.row
			.col-12.col-md-6: +figureWithCaption("images/oxford/cycle-track.jpg","There are some cycling tracks around Oxford, the scenery is great but they do not connect to the central part of the city","w-100")
			.col-12.col-md-6: +figureWithCaption("images/oxford/2nd-year-accomodation.jpg","One of the buildings that I may be living in second year","w-100")

		h2#images.mt-5 More Images
		hr
		p: a(href="oxfordImages.html") Click Here

		br
		p Feel free to <a href="contact.html">contact me</a> if you think anything above is incorrect.
		p More to add later!