extends ../layouts/default

block js

block append variables 
	- var currentPage = "oxfordFirst";

block content
	.container
		h1 Oxford Fresher's Week
		p Here are some captures of my first week at Oxford. Sorry I have to blur the faces because the website is public. :(
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-1.jpg","Arrival date, time to get my room keys!","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-2.jpg","My first breakfast at Univ","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-3.jpg","Dining Hall at Univ","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-4.jpg","Dessert of my first Formal Dinner.","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-5.jpg","Univ Old Library","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-6.jpg","A strange hobbit door at Univ","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-7.jpg","Radcliff Camera, an iconic library at Oxford.","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxfordFirst/oxford-first-8.jpg","Night walk at Oxford","w-100")
		
		p More photos to come