extends ../layouts/default

block js

block append variables 
	- var currentPage = "oxford";

block content
	.container
		h1 Oxford: Images
		p Sorry I have to blur the faces in the images because the website is public. :(
		p The images are all minified for faster loading times, you can checkout my <a href="https://github.com/OscarMui/oscarmui.github.io">source code (under <code>app/images</code>)</a> for the original images.

		h2.mt-5 Contents
		hr
		ul
			li: a(href="#univ") University College
			li: a(href="#otherColleges") Other Colleges and University-wide Buildings
			li: a(href="#bike") Oxford City

		h2#univ University College
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-main-quad.jpg","Main Quad of Univ (A quad at Oxford is a green square or rectangular space enclosed by college buildings)","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-marquees.jpg","Arrival day, time to get my room keys!","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-old-lib-interior.jpg","College Old Library (Interior)","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-old-lib-exterior.jpg","College Old Library (Exterior) - It looks like a church because it was designed by a person who designs churches.","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-logic-lane.jpg","Logic Lane - A public lane that is surrounded by the college","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-logic-lane-gate.jpg","Logic Lane","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-logic-lane-tree.jpg","Logic Lane","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-snow-nov.jpg","It's snowing on my birthday!","w-100")
		
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-room-1.jpg","My first year accomdation, a room with a shared study (The study room is shared with my roommate Sam, while both of us have our own bedroom)","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-room-2.jpg","My first year accomdation (Bedroom)","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-hall.jpg","Hall at Univ (Hall is where we have our meals and some social activities, some colleges use their hall for examinations as well)","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-formal-desert.jpg","Dessert of my first Formal Dinner","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-food-1.jpg","Typical hall food","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-food-2.jpg","Typical hall food","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-food-3.jpg","Typical hall food","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-pumpkin.jpg","Pumpkin Carving on Halloween","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/univ-brunch.jpg","English Brunch in hall","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/2nd-year-accomodation.jpg","One of the buildings that I may be living in second year","w-100")
		
		h2#otherColleges Other Colleges and University-wide Buildings
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/rad-cam.jpg","Radcliff Camera - An iconic library at Oxford","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/christ-church-hall.jpg","Hall of Christ Church - The one featured in the Harry Potter movies","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/magdalen.jpg","Magdalen College - Looks like a castle with a tall tower","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/christ-church-exterior.jpg","Christ Church Tom Quad - much larger than Univ indeed","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/bridge-of-sighs.jpg","Bridge of Sighs","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/maths-institute.jpg","Maths Institute","w-100")
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/cs-dept-building.jpg","Computer Science Department","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/cs-dept-sign.jpg","Computer Science Department","w-100")

		h2#bike.mt-5 Oxford City
		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/my-bike.jpg","My bike (the blue one)","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/cycle-track.jpg","There are some cycling tracks around Oxford, the scenery is great but they do not connect to the central part of the city.","w-100")

		.row
			.col-12.col-lg-6: +figureWithCaption("images/oxford/cycle-track-3.jpg","More cycle tracks","w-100")
			.col-12.col-lg-6: +figureWithCaption("images/oxford/parks-road-autumn.jpg","Parks Road in Autumn","w-100")

		.row
			.col-12.offset-lg-1.col-lg-10: +figureWithCaption("images/oxford/fireworks.jpg","Fireworks on Guy Fawkes Night (5 Nov)","w-100")
		
		p More photos to come