extends ../../layouts/default

block js

block append variables 
    - var currentPage = "codeChild";

block content
    .container 
        +codeRibbon(4,"Websites for School")

        .text-center
            p.italic I have made some websites for my secondary school - St. Joseph's College. 
        
        p For example, as part of the Chinese Cultural Society, I suggested making a website for an online competition to facilitate Chinese learning during the COVID-19 outbreak in February 2020.
        p I chose KeystoneJS as a framework for my website, which is a Node.js framework that allowed me to work with databases and reuse repetitive code. It was more enjoyable to create the websites by writing code than dragging and dropping elements using online website creators, since the former offers increased flexibility. The satisfaction brought by my schoolmates joining the competition and trying out the website I made was irreplaceable.
        p I would like to give special thanks to Anders, an old boy of SJC who taught me how to use Git, WSL, and more web development skills including the mentioned framework.
        p Very sorry I could not provide the URLs here as these website are not my personal projects.
        h2.mt-4 Technologies
        hr
        .languagesGroup 
            a(href="https://v4.keystonejs.com/")
                +figureWithCaption("/images/code/languages/keystonejs.png","KeystoneJS (V4)","language")
            a(href="https://expressjs.com/")
                +figureWithCaption("/images/code/languages/expressjs.png","ExpressJS","language")
            a(href="https://getbootstrap.com/")
                +figureWithCaption("/images/code/languages/bootstrap.png","Bootstrap","language")
            a(href="https://pugjs.org/")
                +figureWithCaption("/images/code/languages/pugjs.png","PugJS","language")
            a(href="https://lesscss.org/")
                +figureWithCaption("/images/code/languages/less.png","Less","language")
        p KeystoneJS (V4) provides a MongoDB database, runs on the ExpressJS framework, with Bootstrap for styling I am also writing Pug and Less instead of HTML and CSS, as they are generally more convenient (e.g. with variables).
        .row: .col-12.offset-lg-3.col-lg-6
            +figureWithCaption("/images/code/code-sjc-0.png","Homepage of the Chinese online compeition website","w-100")