extends ../../layouts/default

block js

block append variables 
    - var currentPage = "2023";

block content
    .container
        h1 Tenbin
//- a(href="https://play.google.com/store/apps/details?id=com.kidprof.tenbin") Try it now (Google Play)
//- a(href="https://drive.google.com/drive/folders/1ffUgx5A7srNlNrQOtCLM4jnz2yLnnCRF") Try it now (MacOS/ Windows)