nav#myNav.navbar.navbar-default.navbar-expand-lg.navbar-dark: .container.my-1
    a.navbar-brand(href='index.html'): img(src="images/pi-transparent.png" width="30" height="30" alt="")
    a.navbar-brand(href='index.html') Oscar Mui
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.me-auto
            li.nav-item: a.nav-link(href="index.html" class={'active': currentPage === 'home'}) Home
            li.nav-item: a.nav-link(href="oxford.html"  class={'active': currentPage === 'oxford'}) Oxford
            li.nav-item: a.nav-link(href="code.html"  class={'active': currentPage === 'code'}) Coding
            //- li.nav-item: a.nav-link(href="awards.html"  class={'active': currentPage === 'awards'}) Awards
            //- li.nav-item: a.nav-link(href="eca.html"  class={'active': currentPage === 'eca'}) ECAs
            li.nav-item: a.nav-link(href="teaching.html"  class={'active': currentPage === 'teaching'}) Teaching
            li.nav-item: a.nav-link(href="2023.html"  class={'active': currentPage === '2023'}) 2023
            //- li.nav-item: a.nav-link(href="hobbies.html"  class={'active': currentPage === 'hobbies'}) Hobbies
            li.nav-item: a.nav-link(href="contact.html"  class={'active': currentPage === 'contact'}) Contact