nav#myNav.navbar.navbar-default.navbar-expand-lg.navbar-dark: .container.my-1
    a.navbar-brand(href='index.html'): img(src="images/pi-transparent.png" width="30" height="30" alt="")
    a.navbar-brand(href='index.html') Oscar Mui
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="index.html" class={'active': currentPage === 'home'}) Home
            li.nav-item: a.nav-link(href="grad.html"  class={'active': currentPage === 'grad'}) Graduation
            li.nav-item: a.nav-link(href="code.html"  class={'active': currentPage === 'code'}) Code
            li.nav-item: a.nav-link(href="awards.html"  class={'active': currentPage === 'awards'}) Awards
            li.nav-item: a.nav-link(href="eca.html"  class={'active': currentPage === 'eca'}) ECAs
            li.nav-item: a.nav-link(href="hobbies.html"  class={'active': currentPage === 'hobbies'}) Hobbies